/*common css start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family:  'Open Sans', sans-serif;
}

.container {
    width: 1170px;
    margin: auto;
    align-items: center;
}


ul{
    list-style-type: none;
}

a{
   text-decoration: none;
}
/*common css end */

/* nav section CSS start */
nav{
    background-color:#02918c;
}

nav .container {
    display: flex;
    flex-wrap: wrap;

}

nav .logo{
    width: 20%;
}
nav .logo img{
    display: block;
}

nav .menu{
    width: 80%;
}

nav .menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
 }

 nav .menu ul li a{
    font-size: 12px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    padding: 26px 25px;
    display: block;
    transition:.6s; 
 }

 nav .menu ul li:hover  a{
    background: #cfc91d;
    color:black;
 }

/*nav section CSS end */

/* banner section CSS start*/ 

#banner{
    background: url(../image/banner_bg.jpg);
    height: 730px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

#banner .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner .banner_content{
    width: 100%;
    text-align: center;
    color: #fff;
}

#banner h3{
    font-size: 30px;
    font-weight: 400;
}

#banner h1{
    font-size: 68px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 30px;
}

#banner p{
    font-size:18px;
    font-weight: 400;
}


#banner img{
    display: block;
    margin: 50px auto;
}

#banner a{
    font-size: 14px;
    font-weight: 800;
    color: black;
    text-transform: uppercase;
    background: #cfc91d;
    padding: 19px 43px;
    display: inline-block;
   
}

/* banner section CSS end*/

/* layer section CSS start */
#banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000400;
    opacity: .66;
    z-index: -1;
 }
/* layer section CSS end*/